<html>

<head>
    <style>

    </style>
    <link rel="stylesheet" href="mongostyle.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/realm-web@1.2.0/dist/bundle.iife.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="code.js"></script>
</head>

<body onLoad="onLoad()">
    <a href="ts.html" class="button">Timeseries Data</a>
    <a href="ts.html" class="button">Timeseries Collections</a>
    <a href="index.html" class="button">Window Functions</a>
    <a href="dashboard.html" class="button">Charts</a>

    <div id="app">


        <div class="grid-container">

            <div v-for="chart in charts" class="chart grid-item">
             
                   <img v-bind:src="'images/' +chart+ '.png' ">
                
                <svg width="300" height="200" class="scrollgraph" v-bind:id="chart"></svg>
                
            </div>

        </div>

        <div class="grid-container">

            <div class="functioncode grid-item">
                <textarea cols="60" rows="20" v-model="aggregation" placeholder=""></textarea>
             
            </div>

            <div class="derivedchart grid-item">
                <div class="fntext">{{derivedmessage}}  </div>
                <svg class="aggout" id="value" width="400" height="300"></svg>
               
            </div>

            <div class="funclist grid-item">
                <select v-model=" aggregation" class="wfuncs">
                    <option v-for="option in wfuncs" v-bind:value="option.function">
                        {{ option.name }}
                    </option>
                </select>
                <div class="runbutton"> <button v-on:click="updateAggreagtion">Test Window Function</button> </div>
                <div class="messages">
                <div class="errormessage"> {{errormsg}}</div>
              
                
                </div>
            </div>
        </div>
    </div>
</body>

</html>